@if (isDesktop()) {
  <h2
    class="text-beige font-vinque text-[48px] uppercase text-center leading-[52px] cursor-pointer hover:text-light transition duration-200"
    (click)="goHome()"
  >
    The Blood
    <br />
    of Azra
  </h2>
  <svg
    icon="sprite"
    id="decoration"
    class="h-[53px] w-[146px] self-center"
  ></svg>

  <h4 class="text-2xl font-vinque text-center text-light mt-2 mb-4 uppercase">
    Chapters
  </h4>
} @else {
  <div class="flex flex-col items-center justify-between h-full w-full">
    <div class="flex flex-col items-center">
      <h2
        class="text-3xl font-vinque text-center text-beige mt-2 mb-4 uppercase"
      >
        Chapters
      </h2>
      <svg icon="sprite" id="decoration" class="h-[53px] w-[146px]"></svg>
      <span
        class="text-beige text-xl font-yatra cursor-pointer hover:text-light transition duration-200"
        (click)="goChapterOne()"
        >Chapter One</span
      >
    </div>

    <div class="flex flex-col gap-4 w-full">
      <svg
        icon="sprite"
        id="decoration"
        class="h-[53px] w-[146px] self-center"
      ></svg>
      <span
        class="text-beige text-xl font-yatra cursor-pointer hover:text-light transition duration-200"
        (click)="goHome()"
        >Back</span
      >
    </div>
  </div>
}
