<div class="flex gap-4 h-full" *azraResponsive="desktop" tabindex="-1">
  <azra-sidebar />
  <div class="max-w-[1000px] w-full relative">
    <p class="text-beige text-2xl font-vinque absolute">
      {{ currentImageNumber() }}
    </p>
    @if (hasNoImage()) {
      <p class="text-beige text-2xl font-vinque mt-10">Loading...</p>
    }
    <img
      #img
      class="object-contain w-full"
      [ngClass]="hasNoImage() ? 'h-0' : 'h-full'"
      [alt]="hasNoImage() ? '' : 'azra_image'"
      (debounceClick)="handleOnImgClick()"
      azraDebounce
      [debounceTime]="250"
      tabindex="-1"
    />
  </div>
</div>

<div class="flex justify-center h-full" *azraResponsive="handset">
  <azra-sidebar />
</div>
