<ul
  class="flex flex-col md:flex-row items-center uppercase text-light font-vinque text-2xl gap-5 md:gap-8"
>
  <li class="hover:text-beige transition duration-300 cursor-pointer">
    <a routerLink="/content">Read</a>
  </li>
  <li
    (click)="setAboutDrawerVisible()"
    class="hover:text-beige transition duration-300 cursor-pointer"
    [class.text-beige]="isAboutActive()"
  >
    About
  </li>
  <li
    (click)="setContactsDrawerVisible()"
    class="hover:text-beige transition duration-300 cursor-pointer"
    [class.text-beige]="isContactsActive()"
  >
    Contacts
  </li>
</ul>
