@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'assets/theme.scss';

*:focus-visible {
  outline: none;
}

.p-sidebar {
  background-color: #000;
  padding: 36px 44px 12px;
  height: 100svh;
  width: 444px;
}

@media (max-width: 1070px) {
  .p-sidebar {
    width: 100%;
    padding-bottom: 20px;
    overflow-y: auto;
  }
}
