<p-sidebar [(visible)]="aboutDrawer" position="right">
  <ng-template pTemplate="headless">
    <div class="font-yatra flex flex-col items-center pb-10">
      <h3 class="text-beige text-3xl !font-vinque">Story</h3>
      <svg icon="sprite" id="decoration" class="w-[146px] h-[73px]" />
      <p class="text-light text-2xl text-center mb-6 leading-7">
        Wen, a free-spirited soul and an aspiring bard, sets on a journey around
        the continent to find her missing mother. But what starts as a small
        personal family mystery eventually forces her to plunge head deep into
        many grand secrets of the empire: living machines and dead gods,
        innovative science and old magic, royal conspiracies and decades old
        grudges… Just what in the world happened to her mom?
      </p>
      <p class="text-light text-2xl text-center mb-6">
        Comic updates twice a month.
      </p>
      <p class="text-light text-2xl text-center mb-6">
        Content warnings: non-graphic violence, blood, bad language, death,
        child abuse, addiction, discrimination, bullying, artistic nudity.
      </p>
      <p class="text-light text-2xl text-center mb-8">Age rating 14+</p>
      <button
        (click)="closeAboutDrawer()"
        class="border border-beige rounded-lg py-3 px-6 md:hidden text-beige text-xl hover:text-light hover:border-light transition duration-300"
      >
        Back
      </button>
    </div>
  </ng-template>
</p-sidebar>
